/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*css reset end*/


 /*通用區塊*/

.clear {
    width: 0;
    height: 0;
    clear:both;
}

body {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    background: seashell;
}

.wrapper {
    margin: 0 auto;
    width: 1280px;
    text-align: center;
    font-family: 微軟正黑體;
}

h1{font-size: 3em;}
h2{font-size: 2.6em;}
h3{font-size: 2.2em;}
h4{font-size: 2.8em;}
h5{font-size: 1.6em;}
h6{font-size: 1.4em;}


header {
    width: 100%;
    height: 450px;
}
    .quick-navbar {
        height: 30px;
        padding: 5px 20px;
        border-bottom: 1px ridge grey;
    }
        .hello-notify {
            float:left;
        }
        .quick-navbar ul {
            float: right;
        }
        .quick-navbar li {
            display: inline-block;
            margin: 2px 5px;
        }



banner {
    width: 100%;
    height: 420px;
}
    .jcarousel {
        position: relative;
        overflow: hidden;
    }

    /*
    This is the container of the carousel items.
    You must ensure that the position is relative or absolute and
    that the width is big enough to contain all items.
    */
    .jcarousel ul {
        width: 20000em;
        position: relative;

        /* Optional, required in this case since it's a <ul> element */
        list-style: none;
        margin: 0;
        padding: 0;
    }

    /*
    These are the item elements. jCarousel works best, if the items
    have a fixed width and height (but it's not required).
    */
    .jcarousel li {
        /* Required only for block elements like <li>'s */
        float: left;
    }
    .jcarousel img {
        width: 1000px;
        height: 400px;
    }

    .jcarousel-prev {
        position: absolute;
        right:1200px;
        top: 200px;
        font-size: 3em;
        text-decoration: none;
        background: none;
    }
    .jcarousel-next {
        position: absolute;
        left:1200px;
        top: 200px;
        font-size: 3em;
        text-decoration: none;
        background: none;
    }

/*通用區塊 end*/



/*導航列*/

nav {
    width: 100%;
    height: 40px;
}
nav li{
    width: 150px;
    display: inline-block;
    font-size: 1.4em;
}

/*導航列 end*/





/*登入頁面   login.php*/

.box-login{
    margin: 0 auto;
    width: 100%;
    text-align: center;

}

/*登入頁面 end*/


/*註冊頁面  regist.php*/


.box-regist{
    margin: 0 auto;
    width: 100%;
    text-align: center;
}

/*註冊頁面 end*/
